attrs==17.4.0
certifi==2017.11.5
chardet==3.0.4
Django==2.0
django-cors-headers==2.1.0
django-guardian==1.4.9
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
future==0.16.0
idna==2.6
jsonpickle==0.9.5
pep8==1.7.1
PyJWT==1.6.1
pytz==2017.3
PyYAML==3.12
qrcode==6.0
related==0.5.3
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
urllib3==1.26.5
